// Mixins Here
.second-container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    background-color: @white-smoke;
}

.display-layout (@flex, @direction) {
    display: @flex;
    flex-direction: @direction
    
}

.btn-class (@width, @height, @ftsize){
    display: block;
    background-color: @btn-bg-color;
    width: @width;
    height: @height;
    font-size: @ftsize;
    border-radius: 5px;
    color: white;
}