// Navigation code here
nav {
    .second-container();
    .display-layout (flex, column);
    text-align: center;
    padding: 1%;

    @media @phone {
        padding-bottom: 2%;
    }

    h1 {
        font-size: 3.8rem;
        padding: 2%;
    }

    a {
        font-size: 1.6rem;
        text-decoration: none;
        color: black;
        margin: 2%;

    }
}